includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 8

    paths:
        - app
        - Modules
        - database
        - tests

    scanDirectories:
        - Modules

    excludePaths:
        - Modules/*/Tests
        - */node_modules/*
        - */vendor/*
